<section class="bg-primary" id="about">

    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-justify bottom">
                <h2 class="section-heading text-white text-center">A propos </h2>
                <hr class="light">
                <p class="about-me">J'ai commencé, il y a une quinzaine d'années à développer
                    des sites html et php en parallèle à mes métiers de formation : assistante commerciale
                    puis gestionnaire clients et stocks magasins.</p>
                <p>J'ai continué pendant de nombreuses années à travailler de cette manière sans réellement
                    me poser de questions. J'ai développé différents projets clients. Grâce à de très bons tutos
                    sur le web et grâce à une veille quotidienne, j'ai appris et continue quotidiennement
                    à apprendre des techniques source de gain de temps.</p>

                    <p>J'ai décidé fin 2016 de franchir le pas et suivre une formation diplomante de développeuse
                    Web dans la Région Lyonnaise afin d'acquérir les bonnes pratiques et outils supplémentaires
                        qui me permettront d'en
                    faire RESOLUMENT mon métier principal.
                    J'ai travaillé sur Symfony 3 , PHP , Bootstrap, HTML/CSS , JQUERY et MySql et participé à des
                    projets concrets clients en agilité SCRUM. Cette formation s'est super bien passée et m'a résolument
                        confortée dans mon choix. J'ai appris beaucoup de choses, élargi mon réseau, découvert de nouvelles
                        techniques.. Je suis actellement en stage de 3 mois ou je réalise un projet sous Symfony et me
                        forme sur le développement des applications Android.
                </p>
                <p>A l'issue de ce stage, je continuerai ce que j'ai toujours fait :
                    développer des sites web et deviendrai définitivement développeuse
                    web INDEPENDANTE.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
            <a  class="btn btn-default btn-xl js-scroll-trigger" href="https://drive.google.com/file/d/0B4-oLV2H_NaxNG9rRV9kUktpejRCRG0wMW9mMVBEU0wyRjZN/view?usp=sharing" target="_blank">Télécharger CV</a>
                </div>
        </div>
    </div>
</section>
