<div class="call-to-action bg-dark">
    <div class="container text-center">
        <h2>Check out my Github.</h2>
        <a class="btn btn-default btn-xl sr-button" href="http://github.com/twhite96" target="_blank">Github Projects</a>
    </div>
</div>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>I am excited to learn and build innovative products. If this sounds like a junior dev you'd like to have, get in touch!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>Email for phone number.</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p>
                    <a href="mailto:info@tiffanyrwhite.com">info@tiffanyrwhite.com</a>
                </p>
            </div>
        </div>
    </div>
</section>