<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
                <a href="" class="typewrite" data-period="2000"
                   data-type='[ "Bonjour.", "Je suis... a droite.", "Je suis developpeuse.", "J aime apprendre.", "creer.","Je code en PHP." , "sur Symfony.","Mais pas que..." ]'>
                    <span class="wrap"></span>
                </a>
            </h1>
        </div>
        <div class="pad-up">
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#">En savoir plus</a>
        </div>
    </div>
</header>

