{% extends '@Portfolio/base.html.twig' %}

{% block body %}

<div id="page-top">
    {% include ('@Portfolio/Default/nav.html.twig') %}
    {% include ('@Portfolio/Default/header.html.twig') %}
    {% include ('@Portfolio/Default/about.html.twig') %}
    {% include ('@Portfolio/Default/skills.html.twig') %}
    {% include ('@Portfolio/Default/portfolio.html.twig') %}
    {% include ('@Portfolio/Default/contact.html.twig') %}
</div>

{% endblock %}

