<section class="p-0" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://s3.us-east-2.amazonaws.com/portfolio96/The_Lens_Cap.jpg">
                    <img class="img-fluid" src="https://s3.us-east-2.amazonaws.com/portfolio96/The_Lens_Cap.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mock e-commerce website
                            </div>
                            <div class="project-name">
                                The Lens Cap
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://s3.us-east-2.amazonaws.com/portfolio96/RandQuoteGen.jpg" alt="the-lens-cap">
                    <img class="img-fluid" src="https://s3.us-east-2.amazonaws.com/portfolio96/RandQuoteGen.jpg" alt="the-lens-cap">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Quote app using Quotes on Design API and AJAX
                            </div>
                            <div class="project-name">
                                Random Quote Generator
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://s3.us-east-2.amazonaws.com/portfolio96/checkyoself.jpg" alt="checkyoself">
                    <img class="img-fluid" src="https://s3.us-east-2.amazonaws.com/portfolio96/checkyoself.jpg" alt="checkyoself">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                App to check markdown blog posts for grammar and spelling mistakes
                            </div>
                            <div class="project-name">
                                Check Yo Self
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://s3.us-east-2.amazonaws.com/portfolio96/Weather_App-min.jpg" alt="freeCodeCamp-weather-app">
                    <img class="img-fluid" src="https://s3.us-east-2.amazonaws.com/portfolio96/Weather_App-min.jpg" alt="freeCodeCamp-weather-app">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Weather app built for freeCodeCamp using Dark Sky API
                            </div>
                            <div class="project-name">
                                freeCodeCamp Weather App
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://s3.us-east-2.amazonaws.com/yelpcamp96/campgrouds_screenshot.jpg" alt="yelpcamp">
                    <img class="img-fluid" src="https://s3.us-east-2.amazonaws.com/yelpcamp96/campgrouds_screenshot.jpg" alt="yelpcamp">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Yelp clone for campsites built for The Web Developer Bootcamp
                            </div>
                            <div class="project-name">
                                YelpCamp
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>