<section class="p-0" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://www.stjustchaleyssin.com">
                <img class="img-fluid" src="{{ asset('img/iseretourismefront.png') }}">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Site tourisme
                        </div>
                        <div class="project-name">
                            Portail du tourisme
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">

            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://www.stjustchaleyssin.com">
                    <img class="img-fluid" src="{{ asset('img/stjustchaleyssin1.png') }}">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Site commune
                            </div>
                            <div class="project-name">
                                Site vitrine commune
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">

            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://www.e-commune.info">
                    <img class="img-fluid" src="{{ asset('img/screeshotecommune.png') }}">

                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                E-Commune.info
                            </div>
                            <div class="project-name">
                                Développement de sites web refonte SEO<br>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>