<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Compétences et outils</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="devicon-java-plain"></i>
                    <p class="text-muted">Java</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="devicon-html5-plain"></i>
                    <p class="text-muted">Html5</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="devicon-github-plain"></i>
                    <p class="text-muted">Github</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="devicon-gimp-plain"></i>
                    <p class="text-muted">Gimp</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-linux-plain"></i>
                        <p class="text-muted">Linux</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-mysql-plain"></i>
                        <p class="text-muted">MySql</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-php-plain"></i>
                        <p class="text-muted">Php</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-phpstorm-plain"></i>
                        <p class="text-muted">PhpStorm</p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="devicon-slack-plain"></i>
                            <p class="text-muted">Slack</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="devicon-symfony-original"></i>
                            <p class="text-muted">Symfony</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="devicon-trello-plain"></i>
                            <p class="text-muted">Trello</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="devicon-wordpress-plain"></i>
                            <p class="text-muted">Wordpress</p>
                        </div>
                    </div>
                </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-android-plain"></i>
                        <p class="text-muted">Android</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-atom-original"></i>
                        <p class="text-muted">Atom</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-bootstrap-plain"></i>
                        <p class="text-muted">Bootstrap</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-css3-plain"></i>
                        <p class="text-muted">CSS3</p>
                    </div>
                </div>
            </div>
        </div>
</section>